*
!.gitignore
!README.md
!LICENSE
!releases/
!releases/v1.0.0/
!releases/v1.0.0/轻签-v1.0.0.apk
!releases/v1.0.0/安装说明.md
!releases/v1.0.0/SHA256.txt
!releases/v1.1.0/
!releases/v1.1.0/轻签-v1.1.0.apk
!releases/v1.1.0/安装说明.md
!releases/v1.1.0/SHA256.txt
!releases/v1.1.1/
!releases/v1.1.1/qingqian-v1.1.1.apk
!releases/v1.1.1/INSTALL.md
!releases/v1.1.1/SHA256.txt
!releases/v1.2.0/
!releases/v1.2.0/qingqian-v1.2.0.apk
!releases/v1.2.0/INSTALL.md
!releases/v1.2.0/SHA256.txt
